<% include partials/header  %>


<div class="jumbotron text-center">
	<h1 >My Images </h1>
	<p>Some of my courses</p>
</div>


<div class="container">

<picture>
	<source srcset="img/danka_lg.jpg" media="(min-width: 1200px)">
	<source srcset="img/danka_md.jpg" media="(min-width: 900px)">
	<img src="img/danka_sm.jpg" alt="Woman on Mountain">
</picture>


</div>







<% include partials/footer  %>