<% include partials/header  %>


<div class="jumbotron text-center">
	<h1 >My Images </h1>
	<p>Some of my courses</p>
</div>


<div class="container">

	<div class="row">

		<div class="col-md-4 thumbnail">
			<img src="img/Basslines.jpg">
		</div>

		<div class="col-md-4 thumbnail">
			<img src="img/Melody.jpg">
		</div>


		<div class="col-md-4 thumbnail">
			<img src="img/Rhythm.jpg">
		</div>




	</div>



</div>







<% include partials/footer  %>